@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

body { 
    font-family: 'Inter', sans-serif; 
}

.card { 
    border-radius: 1.25rem; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}

/* Efecto sutil de enfoque para los inputs */
input:focus, select:focus {
    transform: translateY(-1px);
}